# Exploring Ebay (german) car sale data

The aim of this project (written in short) is to clean and analyze data included in used car listings (specifically for Ebay sales in Germany)

## Fields in this data set

- dateCrawled - When this ad was first crawled. All field-values are taken from this date.
- name - Name of the car.
- seller - Whether the seller is private or a dealer.
- offerType - The type of listing
- price - The price on the ad to sell the car.
- abtest - Whether the listing is included in an A/B test.
- vehicleType - The vehicle Type.
- yearOfRegistration - The year in which the car was first registered.
- gearbox - The transmission type.
- powerPS - The power of the car in PS.
- model - The car model name.
- kilometer - How many kilometers the car has driven.
- monthOfRegistration - The month in which the car was first registered.
- fuelType - What type of fuel the car uses.
- brand - The brand of the car.
- notRepairedDamage - If the car has a damage which is not yet repaired.
- dateCreated - The date on which the eBay listing was created.
- nrOfPictures - The number of pictures in the ad.
- postalCode - The postal code for the location of the vehicle.
- lastSeenOnline - When the crawler saw this ad last online.

In [1]:
# importing the necessary libraries
import pandas as pd
import numpy as np

# loading autos dataset with its encoding
autos = pd.read_csv("autos.csv", encoding= "Latin-1")

autos.info()

autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

## Observations
- The dataset contains 20 columns, most of which are strings.
- Some columns have null values, but none have more than ~20% null values.
- The column names use camelcase instead of Python's preferred snakecase, this means one can't just replace spaces with underscores. One will need to convert the columns from camelcase to snakecase to make it easier to work with field later.

In [2]:
new_columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen']

autos.columns = new_columns

print(autos.columns) # inspect that changes were made

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [3]:
autos.head() #inspecting changed dataframe

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

## Exploring the data set for further data cleansing

In [4]:
autos.describe(include= 'all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-30 19:48:02,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

Some observations:
- nr_of_pictures only has a count (potentially lots of nulls here. to drop or keep potentially)
- seller an offer_type columns seems to be the same
- postal code should be converted back to text (or be left out entrirely)
- price and odometer are text types and will require conversion since it is not numeric

### formatting price and odometer columns to become integers

In [5]:
autos.price = autos.price.str.replace("$", "").str.replace(",", "")
autos.price.unique()

array(['5000', '8500', '8990', ..., '385', '22200', '16995'], dtype=object)

In [6]:
autos.price = autos.price.astype("int")
autos.price.dtype # inspecting that the change was made without any errors

dtype('int32')

In [7]:
autos.odometer = autos.odometer.str.replace(",", "").str.replace("km", "")
autos.odometer.unique()

array(['150000', '70000', '50000', '80000', '10000', '30000', '125000',
       '90000', '20000', '60000', '5000', '100000', '40000'], dtype=object)

In [8]:
autos.odometer = autos.odometer.astype("int")
autos.odometer.dtype # inspecting that the change was made without any errors

dtype('int32')

In [9]:
# renaming the odometer column heading
autos.rename({"odometer": "odometer_km"}, axis = 1, inplace = True)

## Analyzing price and odometer_km columns
### Price column

In [10]:
autos.price.unique().shape

(2357,)

In [11]:
print(autos.price.describe())
autos.price.isnull().sum() #No Nans

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

0

In [12]:
print(autos.price.value_counts().sort_index(ascending = False).head(15))
print(autos.price.value_counts().sort_index(ascending = False).tail(15))

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
Name: price, dtype: int64
18       1
17       3
15       2
14       1
13       2
12       3
11       2
10       7
9        1
8        1
5        2
3        1
2        3
1      156
0     1421
Name: price, dtype: int64

Observation:
quite a few 0 values (could have been sold for free) as well as 3 instances where number sequences 123... were used. I will remove prices above 999999 since these seems like the biggest outliers

### Odometer_km column

In [13]:
autos.odometer_km.unique().shape

(13,)

In [14]:
autos.odometer_km.describe()
autos.odometer_km.isnull().sum() # No Nans

0

In [15]:
print(autos.odometer_km.value_counts().sort_index(ascending = False))

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
40000       819
30000       789
20000       784
10000       264
5000        967
Name: odometer_km, dtype: int64

Observation: biggest part of population has odometer readings with 150k or greater mileage. Keeping this for now since its not uncommon for cars to have high mileage well above 150k kms when they are sold.

In [16]:
'''based on previous observations. 
updating dataframe to include only rows where price below 999 999 '''
autos = autos[autos.price <= 999999]
autos.shape #only 11 rows removed based on this

(49989, 20)

## date_crawled, last_seen,  and ad_created columns (understanding the date range the data covers)

Obtaining some understanding of these columns by selecting first 10 characters (I only want to work with the dates)

In [17]:
# date_crawled column:
autos["date_crawled"].str[:10].value_counts(normalize=True, dropna=False).sort_index()

2016-03-05    0.025386
2016-03-06    0.013943
2016-03-07    0.035968
2016-03-08    0.033267
2016-03-09    0.033207
2016-03-10    0.032127
2016-03-11    0.032487
2016-03-12    0.036768
2016-03-13    0.015563
2016-03-14    0.036628
2016-03-15    0.033987
2016-03-16    0.029506
2016-03-17    0.031527
2016-03-18    0.013063
2016-03-19    0.034908
2016-03-20    0.037828
2016-03-21    0.037508
2016-03-22    0.032907
2016-03-23    0.032387
2016-03-24    0.029106
2016-03-25    0.031747
2016-03-26    0.032487
2016-03-27    0.031047
2016-03-28    0.034848
2016-03-29    0.034168
2016-03-30    0.033627
2016-03-31    0.031907
2016-04-01    0.033807
2016-04-02    0.035408
2016-04-03    0.038689
2016-04-04    0.036488
2016-04-05    0.013103
2016-04-06    0.003181
2016-04-07    0.001420
Name: date_crawled, dtype: float64

*Observation*:

Quite evenly distributed in terms of daily counts of data crawled. In the final 3 days there was a decrease. Date range only between March and April 2016.

In [18]:
# ad_created column:
autos["ad_created"].str[:10].value_counts(normalize=True, dropna=False).sort_index()

2015-06-11    0.000020
2015-08-10    0.000020
2015-09-09    0.000020
2015-11-10    0.000020
2015-12-05    0.000020
                ...
2016-04-03    0.038929
2016-04-04    0.036848
2016-04-05    0.011843
2016-04-06    0.003261
2016-04-07    0.001280
Name: ad_created, Length: 76, dtype: float64

*Observation*:

Many more entries than the date crawled column. Date range starts from June 2015 and ends in April 2016. This is probably since this column relates to the dates the actual ads were created while date crawled relates to when the ads were first searched which occured quite some time later (or due to another reason).

In [19]:
# last_seen column:
autos["last_seen"].str[:10].value_counts(normalize=True, dropna=False).sort_index()

2016-03-05    0.001080
2016-03-06    0.004421
2016-03-07    0.005361
2016-03-08    0.007582
2016-03-09    0.009842
2016-03-10    0.010762
2016-03-11    0.012523
2016-03-12    0.023805
2016-03-13    0.008982
2016-03-14    0.012803
2016-03-15    0.015883
2016-03-16    0.016444
2016-03-17    0.027926
2016-03-18    0.007422
2016-03-19    0.015743
2016-03-20    0.020705
2016-03-21    0.020725
2016-03-22    0.021585
2016-03-23    0.018584
2016-03-24    0.019564
2016-03-25    0.019204
2016-03-26    0.016964
2016-03-27    0.016024
2016-03-28    0.020865
2016-03-29    0.022345
2016-03-30    0.024845
2016-03-31    0.023825
2016-04-01    0.023105
2016-04-02    0.024885
2016-04-03    0.025366
2016-04-04    0.024625
2016-04-05    0.124267
2016-04-06    0.220989
2016-04-07    0.130949
Name: last_seen, dtype: float64

*Observation*:

Date range similar to date crawled column. Quite evenly distributed until the last three days where thrre is quite a spike in activity.

In [20]:
# understanding distribution of registration year column
autos.registration_year.describe()

count    49989.000000
mean      2005.074916
std        105.724083
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

The above analysis indicates between the 25th and 75 percentiles that 50% of registrations took place between 1999 and 2008. Based on the max and min values there seems to be a few outliers and redundant data. The data for this data set extendsuntil 2016, which means any years beyond this is not usable. One would also need to figure out about data that is too early in terms of registration year.

In [21]:
 # viewing unique years to inspect if anything else should be removed.
np.sort(autos.registration_year.unique())

array([1000, 1001, 1111, 1500, 1800, 1910, 1927, 1929, 1931, 1934, 1937,
       1938, 1939, 1941, 1943, 1948, 1950, 1951, 1952, 1953, 1954, 1955,
       1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966,
       1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977,
       1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988,
       1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
       2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2800, 4100,
       4500, 4800, 5000, 5911, 6200, 8888, 9000, 9996, 9999], dtype=int64)

Based on the above, I will keep everything between 1910 to 2016 (since data set only extends till 2016 in terms of ebay sales data).

In [22]:
# updating the autos dataframe to exclude irrelevant registration years for purposes of our analysis.
autos = autos[(autos.registration_year <= 2016) & ((autos.registration_year >= 1910))]
autos.describe()

,price,registration_year,power_ps,odometer_km,registration_month,nr_of_pictures,postal_code
count,48019.000000,48019.000000,48019.000000,48019.000000,48019.000000,48019.0,48019.000000
mean,5873.628897,2002.805306,117.052937,125550.094754,5.768029,0.0,50935.442991
std,12025.010244,7.307168,195.138656,40101.082826,3.696725,0.0,25791.238207
min,0.000000,1910.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1150.000000,1999.000000,71.000000,100000.000000,3.000000,0.0,30459.000000
50%,2990.000000,2003.000000,107.000000,150000.000000,6.000000,0.0,49692.000000
75%,7400.000000,2008.000000,150.000000,150000.000000,9.000000,0.0,71665.000000
max,999999.000000,2016.000000,17700.000000,150000.000000,12.000000,0.0,99998.000000

One can see above (in the counts) that a considerable portion of the data set still remains even after removing some elements due to registration year outliers.

In [23]:
# reviewing distribution of remaing values
autos.registration_year.value_counts(normalize=True).sort_index(ascending = False)

2016    0.027406
2015    0.008309
2014    0.013849
2013    0.016785
2012    0.027552
          ...
1934    0.000042
1931    0.000021
1929    0.000021
1927    0.000021
1910    0.000187
Name: registration_year, Length: 78, dtype: float64

*Observation*:

Not many cars with registrations between 1911 to 1993, but a considerable increase for vehicles registered from 1994 and onwards.

## Analyzing data of top 20 car brands mean prices and mileages within the data set

### mean price

In [24]:
# exploring unique values in brands column
autos.brand.unique()

array(['peugeot', 'bmw', 'volkswagen', 'smart', 'ford', 'chrysler',
       'seat', 'renault', 'mercedes_benz', 'audi', 'sonstige_autos',
       'opel', 'mazda', 'porsche', 'mini', 'toyota', 'dacia', 'nissan',
       'jeep', 'saab', 'volvo', 'mitsubishi', 'jaguar', 'fiat', 'skoda',
       'subaru', 'kia', 'citroen', 'chevrolet', 'hyundai', 'honda',
       'daewoo', 'suzuki', 'trabant', 'land_rover', 'alfa_romeo', 'lada',
       'rover', 'daihatsu', 'lancia'], dtype=object)

In [25]:
# creating a list to iterate through the top 20
top_20 = autos.brand.value_counts().head(20)
print(top_20)
# updating to only the index (value counts already sorted according to top 20 counts)
top_20 = autos.brand.value_counts().head(20).index  

# looping through top 20 counted brands and calculating mean price per brand

mean_price_per_brand = {}

for brand in top_20:
    updated_autos = autos[autos.brand == brand]
    mean = updated_autos.price.mean()
    mean_price_per_brand[brand] = round(mean, 2)
    
mean_price_per_brand

volkswagen        10187
bmw                5283
opel               5194
mercedes_benz      4579
audi               4149
ford               3351
renault            2274
peugeot            1418
fiat               1242
seat                873
skoda               770
mazda               727
nissan              725
citroen             668
smart               668
toyota              599
sonstige_autos      523
hyundai             473
volvo               444
mini                415
Name: brand, dtype: int64

{'volkswagen': 5426.38,
 'bmw': 8102.54,
 'opel': 2876.72,
 'mercedes_benz': 8485.24,
 'audi': 9093.65,
 'ford': 3949.42,
 'renault': 2395.42,
 'peugeot': 3039.47,
 'fiat': 2711.8,
 'seat': 4296.49,
 'skoda': 6334.92,
 'mazda': 4010.77,
 'nissan': 4664.89,
 'citroen': 3699.94,
 'smart': 3542.71,
 'toyota': 5115.33,
 'sonstige_autos': 10805.08,
 'hyundai': 5308.54,
 'volvo': 4757.11,
 'mini': 10460.01}

Observation: 

- Audi, BMW, Mini and Mercedes Benz are more expensive (includes sonstige autos too)
- Ford and Opel are less expensive
- Volkswagen is in between the values (mid range)

### mean mileage

In [26]:
# calculating mean mileage for top 20 advertised vehicles based on count

mean_mileage_per_brand = {}

for brand in top_20:
    updated_autos_m = autos[autos.brand == brand]
    mean = updated_autos_m["odometer_km"].mean()
    mean_mileage_per_brand[brand] = round(mean, 2)
    
mean_mileage_per_brand

{'volkswagen': 128728.28,
 'bmw': 132431.38,
 'opel': 129223.14,
 'mercedes_benz': 130856.08,
 'audi': 129287.78,
 'ford': 124068.93,
 'renault': 128183.82,
 'peugeot': 127136.81,
 'fiat': 116553.95,
 'seat': 121563.57,
 'skoda': 110954.55,
 'mazda': 124745.53,
 'nissan': 118572.41,
 'citroen': 119580.84,
 'smart': 99595.81,
 'toyota': 115709.52,
 'sonstige_autos': 87466.54,
 'hyundai': 106511.63,
 'volvo': 138355.86,
 'mini': 88602.41}

In [27]:
# converting both dictionaries to series objects
series_bmp = pd.Series(mean_price_per_brand)
series_bmm = pd.Series(mean_mileage_per_brand)

'''creating datafrem with first series and then attaching other series to the 
# newly created dataframe'''

df = pd.DataFrame(series_bmp, columns = ["mean_price"])
df["mean_mileage"] = series_bmm

df["ratio"] = round(df["mean_price"] / df["mean_mileage"], 3)

print(df)

                mean_price  mean_mileage  ratio
volkswagen         5426.38     128728.28  0.042
bmw                8102.54     132431.38  0.061
opel               2876.72     129223.14  0.022
mercedes_benz      8485.24     130856.08  0.065
audi               9093.65     129287.78  0.070
ford               3949.42     124068.93  0.032
renault            2395.42     128183.82  0.019
peugeot            3039.47     127136.81  0.024
fiat               2711.80     116553.95  0.023
seat               4296.49     121563.57  0.035
skoda              6334.92     110954.55  0.057
mazda              4010.77     124745.53  0.032
nissan             4664.89     118572.41  0.039
citroen            3699.94     119580.84  0.031
smart              3542.71      99595.81  0.036
toyota             5115.33     115709.52  0.044
sonstige_autos    10805.08      87466.54  0.124
hyundai            5308.54     106511.63  0.050
volvo              4757.11     138355.86  0.034
mini              10460.01      88602.41  0.118

*Some observation*:

- the most expensive cars (BMW, Mercedez, Audi and Mini) is most expensive even though they have higher or similar mileage to other cars within the top 20. Mini is a bit more expensive but has on average less mileage than the other 3. Sonstige autos is the most expensive on average and has less mean mileage than mini vehicles on average.
- Sonstige_autos has the least average mileage in the population
- Volvo vehicles has the most average mileage of all vehicles and is also considerably cheaper.
- Renault has the lowest ratio in terms of price per mile driven.